In [9]:
print("hello")

hello

In [1]:
import pandas as pd

In [2]:
df_child_protection = pd.read_csv("data/Child_protection_zone.csv", encoding="cp949")
df_school_location = pd.read_csv("data/School_location.data.csv", encoding="cp949")
df_child_protection.shape

(18, 9)

In [3]:
df_child_protection.head()

   구분  초등학교  일반유치원  병설유치원  특수학교  어린이집  학원  외국인학교_대안학교_국제학교  조례로 정하는 시설 또는 장소
0  서울   606    367    141    27   488  59               12                 0
1  부산   306    283     91    15   146   2                3                 0
2  대구   242    185    139    10   173   1                0                 0
3  인천   270    173      0     9   202  13                0                 2
4  광주   157    106      0     7   150   0                1                 0

In [4]:
df_child_protection.tail()

    구분  초등학교  일반유치원  병설유치원  특수학교  어린이집  학원  외국인학교_대안학교_국제학교  조례로 정하는 시설 또는 장소
13  전북   419    102    349    10   103   1                0                 0
14  전남   438     59    362     5   184   0                0                 0
15  경북   495    183    431     7   120   0                0                 0
16  경남   521    150    395     9   145   1                1                 0
17  제주   118     18    102     3    92   0                4                 0

In [5]:
df_child_protection

,구분,초등학교,일반유치원,병설유치원,특수학교,어린이집,학원,외국인학교_대안학교_국제학교,조례로 정하는 시설 또는 장소
0,서울,606,367,141,27,488,59,12,0
1,부산,306,283,91,15,146,2,3,0
2,대구,242,185,139,10,173,1,0,0
3,인천,270,173,0,9,202,13,0,2
4,광주,157,106,0,7,150,0,1,0
5,대전,154,86,83,6,127,1,1,0
6,울산,122,90,64,3,45,2,0,0
7,세종,53,13,50,2,10,0,0,0
8,경기남부,976,443,837,21,488,9,4,0
9,경기북부,376,140,329,10,191,5,1,0
10,강원,359,68,238,8,82,0,0,1
11,충북,265,57,229,12,158,0,0,0
12,충남,418,119,348,12,161,0,0,0
13,전북,419,102,349,10,103,1,0,0
14,전남,438,59,362,5,184,0,0,0
15,경북,495,183,431,7,120,0,0,0
16,경남,521,150,395,9,145,1,1,0
17,제주,118,18,102,3,92,0,4,0

In [6]:
df_school_location

,학교ID,학교명,학교급구분,설립일자,설립형태,본교분교구분,운영상태,소재지지번주소,소재지도로명주소,시도교육청코드,시도교육청명,교육지원청코드,교육지원청명,생성일자,변경일자,위도,경도,데이터기준일자,제공기관코드,제공기관명
0,B000004806,미원초등학교장락분교장,초등학교,1944-04-06,공립,분교,운영,경기도 가평군 설악면 미사리 290-3,경기도 가평군 설악면 미사리로 588,7530000,경기도교육청,7721000,경기도가평교육지원청,2013-11-29,2023-11-15,37.703889,127.540156,2024-03-22,C738100,청주대학교 지방교육재정연구원
1,B000005055,모곡초등학교,초등학교,1934-12-15,공립,본교,운영,강원특별자치도 홍천군 서면 모곡리 184-2,강원특별자치도 홍천군 서면 설밀길 76,7801000,강원특별자치도교육청,7882000,강원특별자치도홍천교육지원청,2013-11-29,2023-11-15,37.676874,127.600664,2024-03-22,C738100,청주대학교 지방교육재정연구원
2,B000007420,울진남부초등학교,초등학교,1968-10-22,공립,본교,운영,경상북도 울진군 울진읍 읍내리 290,경상북도 울진군 울진읍 울진중앙로 52-5,8750000,경상북도교육청,8971000,경상북도울진교육지원청,2013-11-29,2023-11-15,36.987340,129.399471,2024-03-22,C738100,청주대학교 지방교육재정연구원
3,B000022879,목포부주초등학교,초등학교,2016-03-01,공립,본교,운영,전라남도 목포시 옥암동 1317,전라남도 목포시 남악2로22번길 37,8490000,전라남도교육청,8501000,전라남도목포교육지원청,2013-11-29,2023-11-15,34.808753,126.456974,2024-03-22,C738100,청주대학교 지방교육재정연구원
4,B000006241,용동초등학교,초등학교,1950-04-20,공립,본교,운영,전북특별자치도 김제시 용지면 장신리 280,전북특별자치도 김제시 용지면 용덕길 36,8321000,전북특별자치도교육청,8382000,전북특별자치도김제교육지원청,2013-11-29,2023-11-15,35.854580,127.003365,2024-03-22,C738100,청주대학교 지방교육재정연구원
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11987,B000013206,금오고등학교,고등학교,2001-03-01,공립,본교,운영,경상북도 구미시 광평동 299-3,경상북도 구미시 박정희로25길 15,8750000,경상북도교육청,8801000,경상북도구미교육지원청,2013-11-29,2023-11-15,36.108950,128.355632,2024-03-22,C738100,청주대학교 지방교육재정연구원
11988,B000012954,한국K-POP고등학교,고등학교,1962-12-31,사립,본교,운영,충청남도 홍성군 광천읍 신진리 367,충청남도 홍성군 광천읍 광천로373번길 14,8140000,충청남도교육청,8261000,충청남도홍성교육지원청,2013-11-29,2023-11-15,36.507932,126.621914,2024-03-22,C738100,청주대학교 지방교육재정연구원
11989,B000002000,서울대동초등학교,초등학교,1980-10-02,공립,본교,운영,서울특별시 영등포구 대림동 702,서울특별시 영등포구 대림로21길 6,7010000,서울특별시교육청,7041000,서울특별시남부교육지원청,2013-11-29,2023-11-15,37.493705,126.900119,2024-03-22,C738100,청주대학교 지방교육재정연구원
11990,B000008572,덕천중학교,중학교,1981-09-16,공립,본교,운영,부산광역시 북구 덕천동 320-1,부산광역시 북구 만덕대로65번길 50,7150000,부산광역시교육청,7201000,부산광역시북부교육지원청,2013-11-29,2023-11-15,35.214234,129.011813,2024-03-22,C738100,청주대학교 지방교육재정연구원
11991,B000025610,일광중학교,중학교,2021-03-01,공립,본교,운영,부산광역시 기장군 일광면 삼성리 749,부산광역시 기장군 일광면 해빛3로 99,7150000,부산광역시교육청,7211000,부산광역시해운대교육지원청,2013-11-29,2023-11-15,35.265227,129.220461,2024-03-22,C738100,청주대학교 지방교육재정연구원

In [7]:
df_seoul_school = df_school_location[df_school_location['시도교육청명'] == '서울특별시교육청']
df_seoul_school

,학교ID,학교명,학교급구분,설립일자,설립형태,본교분교구분,운영상태,소재지지번주소,소재지도로명주소,시도교육청코드,시도교육청명,교육지원청코드,교육지원청명,생성일자,변경일자,위도,경도,데이터기준일자,제공기관코드,제공기관명
5,B000008359,구룡중학교,중학교,1989-04-18,공립,본교,운영,서울특별시 강남구 개포동 650,서울특별시 강남구 선릉로 103,7010000,서울특별시교육청,7091300,서울특별시강남서초교육지원청,2013-11-29,2023-11-15,37.486153,127.056121,2024-03-22,C738100,청주대학교 지방교육재정연구원
8,B000012013,마포고등학교,고등학교,1953-07-01,사립,본교,운영,서울특별시 강서구 등촌동 82-1,서울특별시 강서구 화곡로 403,7010000,서울특별시교육청,7081300,서울특별시강서양천교육지원청,2013-11-29,2023-11-15,37.559989,126.853133,2024-03-22,C738100,청주대학교 지방교육재정연구원
24,B000002316,서울대림초등학교,초등학교,1974-03-01,공립,본교,운영,서울특별시 동작구 대방동 391-62,서울특별시 동작구 대방동1길 22,7010000,서울특별시교육청,7132000,서울특별시동작관악교육지원청,2013-11-29,2023-11-15,37.500615,126.924883,2024-03-22,C738100,청주대학교 지방교육재정연구원
33,B000008213,노원중학교,중학교,1989-03-06,공립,본교,운영,서울특별시 노원구 상계동 743,서울특별시 노원구 동일로213길 26,7010000,서울특별시교육청,7051000,서울특별시북부교육지원청,2013-11-29,2023-11-15,37.649361,127.059692,2024-03-22,C738100,청주대학교 지방교육재정연구원
41,B000008130,영락중학교,중학교,1952-06-10,사립,본교,운영,서울특별시 은평구 응암동 226-13,서울특별시 은평구 백련산로 134-6,7010000,서울특별시교육청,7031000,서울특별시서부교육지원청,2013-11-29,2023-11-15,37.596960,126.925133,2024-03-22,C738100,청주대학교 지방교육재정연구원
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11929,B000008204,상원중학교,중학교,1993-06-07,공립,본교,운영,서울특별시 노원구 상계동 632,서울특별시 노원구 수락산로 182,7010000,서울특별시교육청,7051000,서울특별시북부교육지원청,2013-11-29,2023-11-15,37.671766,127.059504,2024-03-22,C738100,청주대학교 지방교육재정연구원
11940,B000008367,신구중학교,중학교,1988-04-25,공립,본교,운영,서울특별시 강남구 신사동 621,서울특별시 강남구 압구정로36길 17,7010000,서울특별시교육청,7091300,서울특별시강남서초교육지원청,2013-11-29,2023-11-15,37.527442,127.031673,2024-03-22,C738100,청주대학교 지방교육재정연구원
11972,B000013474,등촌고등학교,고등학교,2004-03-01,공립,본교,운영,서울특별시 강서구 등촌동 691-2,서울특별시 강서구 공항대로39길 115,7010000,서울특별시교육청,7081300,서울특별시강서양천교육지원청,2013-11-29,2023-11-15,37.562945,126.845046,2024-03-22,C738100,청주대학교 지방교육재정연구원
11974,B000011945,휘경여자고등학교,고등학교,1975-03-03,사립,본교,운영,서울특별시 동대문구 휘경동 43-7,서울특별시 동대문구 한천로 247,7010000,서울특별시교육청,7021000,서울특별시동부교육지원청,2013-11-29,2023-11-15,37.581901,127.067434,2024-03-22,C738100,청주대학교 지방교육재정연구원
11989,B000002000,서울대동초등학교,초등학교,1980-10-02,공립,본교,운영,서울특별시 영등포구 대림동 702,서울특별시 영등포구 대림로21길 6,7010000,서울특별시교육청,7041000,서울특별시남부교육지원청,2013-11-29,2023-11-15,37.493705,126.900119,2024-03-22,C738100,청주대학교 지방교육재정연구원

In [8]:
df_seoul_school.학교명

5           구룡중학교
8          마포고등학교
24       서울대림초등학교
33          노원중학교
41          영락중학교
           ...
11929       상원중학교
11940       신구중학교
11972      등촌고등학교
11974    휘경여자고등학교
11989    서울대동초등학교
Name: 학교명, Length: 1309, dtype: object